# Used for handling HTTP requests
requests==2.32.2

# Used for parsing and creating YAML files
PyYAML==6.0.1

# Used for displaying progress bars
tqdm==4.66.3

# Used for coloring and styling console output
colorama==0.4.6

# Used for cryptographic functions like RSA encryption
pycryptodome==3.18.0
