.github/
i18n/
log/
logs/
meta_db/
container-volume/
**/credentials.conf
.gitignore

# Runtime artifacts created by cb-spider container (root-owned, causes permission errors)
assets/spider/.securitygroup-*

# Secrets
**/secrets/*
!**/secrets/.gitkeep
!**/secrets/README.md