# Code owners of CB-Tumblebug

# These owners will be the default owners for everything in this repo. 
# They will be requested for review when someone opens a pull request.
*       @seokho-son @jihoon-seo

# These subderectory owners own any files in the .github/
# directory which includes github workflows.
/.github/workflows/**  @jihoon-seo @hermitkim1
