### Cloud credentials for auto testing
### This file should not uploaded to online if this includes actual credentials.



## AWS
CredentialName[1]=aws-credential01

CredentialKey01[1]=ClientId
#Fill in {{YOUR-AWS-Credentidal-ID}} Ex:SFLEKJEFLJIEIVJOLJSEOIV
CredentialVal01[1]=#{{YOUR-AWS-Credentidal-ID}}

CredentialKey02[1]=ClientSecret
#Fill in {{YOUR-AWS-Credentidal-Secret}} Ex:fsfdlkfjselSDfjlejklsj/LFJSDLKfjleJKLDJ0
CredentialVal02[1]=#{{YOUR-AWS-Credentidal-Secret}}


## Azure
CredentialName[2]=azure-credential01

CredentialKey01[2]=ClientId
#Fill in {{YOUR-AZURE-Credentidal-ClientId}} Ex:2157868b-4c35-4bak-a23c-ckf05a54a824
CredentialVal01[2]=#{{YOUR-AZURE-Credentidal-ClientId}}

CredentialKey02[2]=ClientSecret
#Fill in {{YOUR-AZURE-Credentidal-ClientSecret}} Ex:2157868b-4c35-4bak-a23c-ckf05a54a824
CredentialVal02[2]=#{{YOUR-AZURE-Credentidal-ClientSecret}}

CredentialKey03[2]=TenantId
#Fill in {{YOUR-AZURE-Credentidal-TenantId}} Ex:2157868b-4c35-4bak-a23c-ckf05a54a824
CredentialVal03[2]=#{{YOUR-AZURE-Credentidal-TenantId}}

CredentialKey04[2]=SubscriptionId
#Fill in {{YOUR-AZURE-Credentidal-SubscriptionId}} Ex:2157868b-4c35-4bak-a23c-ckf05a54a824
CredentialVal04[2]=#{{YOUR-AZURE-Credentidal-SubscriptionId}}


## GCP
CredentialName[3]=gcp-credential01

CredentialKey01[3]=ClientEmail
#Fill in {{YOUR-GCP-Credentidal-ClientEmail}} Ex: 1234567890-compute@developer.gserviceaccount.com
CredentialVal01[3]=#{{YOUR-GCP-Credentidal-ClientEmail}}

CredentialKey02[3]=ProjectID
#Fill in {{YOUR-GCP-Credentidal-ProjectID}} Ex: etri-jhseo-test-266608
CredentialVal02[3]=#{{YOUR-GCP-Credentidal-ProjectID}}

CredentialKey03[3]=PrivateKey
#Fill in {{YOUR-GCP-Credentidal-PrivateKey}} Ex: '-----BEGIN PRIVATE KEY-----\n................\n-----END PRIVATE KEY-----\n'
CredentialVal03[3]=#{{YOUR-GCP-Credentidal-PrivateKey}}


## Alibaba
CredentialName[4]=alibaba-credential01

CredentialKey01[4]=ClientId
#Fill in {{YOUR-ALIBABA-Credentidal-ClientId}} Ex: LTAxxxxxxxxxxxxxxxx
CredentialVal01[4]=#{{YOUR-ALIBABA-Credentidal-ClientId}}

CredentialKey02[4]=ClientSecret
#Fill in {{YOUR-ALIBABA-Credentidal-ClientSecret}} Ex: ez2xxxxxxxxxxxxxxxxxxxxxxxxxx
CredentialVal02[4]=#{{YOUR-ALIBABA-Credentidal-ClientSecret}}


## Mock driver
CredentialName[5]=mock-credential01

CredentialKey01[5]=MockName
CredentialVal01[5]=mock_name00


## OpenStack
CredentialName[6]=openstack-credential01

CredentialKey01[6]=IdentityEndpoint
#Fill in {{YOUR-OpenStack-Credentidal-IdentityEndpoint}} Ex:http://129.xxx.xxx.xxx:5000/v3
CredentialVal01[6]=#{{YOURS}}

CredentialKey02[6]=Username
#Fill in {{YOUR-OpenStack-Credentidal-Username}} Ex:cbuser
CredentialVal02[6]=#{{YOURS}}

CredentialKey03[6]=Password
#Fill in {{YOUR-OpenStack-Credentidal-TenantId}} Ex:cbuserpw
CredentialVal03[6]=#{{YOURS}}

CredentialKey04[6]=DomainName
#Fill in {{YOUR-OpenStack-Credentidal-DomainName}} Ex:default
CredentialVal04[6]=#{{YOURS}}

CredentialKey05[6]=ProjectID
#Fill in {{YOUR-OpenStack-Credentidal-ProjectID}} Ex:91xxxb1f8caa40198b581608cdbxxx
CredentialVal05[6]=#{{YOURS}}
