### Cloud credentials for auto testing

#source ./testSet.env
source ../testSet.env

## AWS
CredentialName[$IndexAWS]=aws-credential01

CredentialKey01[$IndexAWS]=ClientId
#Fill in {{YOUR-AWS-Credentidal-ID}} Ex:SFLEKJEFLJIEIVJOLJSEOIV
CredentialVal01[$IndexAWS]=       #{{YOURS}}

CredentialKey02[$IndexAWS]=ClientSecret
#Fill in {{YOUR-AWS-Credentidal-Secret}} Ex:fsfdlkfjselSDfjlejklsj/LFJSDLKfjleJKLDJ0
CredentialVal02[$IndexAWS]=       #{{YOURS}}


## Alibaba
CredentialName[$IndexAlibaba]=alibaba-credential01

CredentialKey01[$IndexAlibaba]=ClientId
#Fill in {{YOUR-ALIBABA-Credentidal-ClientId}} Ex: LTAxxxxxxxxxxxxxxxx
CredentialVal01[$IndexAlibaba]=       #{{YOURS}}

CredentialKey02[$IndexAlibaba]=ClientSecret
#Fill in {{YOUR-ALIBABA-Credentidal-ClientSecret}} Ex: ez2xxxxxxxxxxxxxxxxxxxxxxxxxx
CredentialVal02[$IndexAlibaba]=       #{{YOURS}}



## GCP
CredentialName[$IndexGCP]=gcp-credential01

CredentialKey01[$IndexGCP]=ClientEmail
#Fill in {{YOUR-GCP-Credentidal-ClientEmail}} Ex: 1234567890-compute@developer.gserviceaccount.com
CredentialVal01[$IndexGCP]=       #{{YOURS}}

CredentialKey02[$IndexGCP]=ProjectID
#Fill in {{YOUR-GCP-Credentidal-ProjectID}} Ex: etri-jhseo-test-266608
CredentialVal02[$IndexGCP]=       #{{YOURS}}

CredentialKey03[$IndexGCP]=PrivateKey
#Fill in {{YOUR-GCP-Credentidal-PrivateKey}} Ex: '-----BEGIN PRIVATE KEY-----\n................\n-----END PRIVATE KEY-----\n'
CredentialVal03[$IndexGCP]=       #{{YOURS}}



## Azure
CredentialName[$IndexAzure]=azure-credential01

CredentialKey01[$IndexAzure]=ClientId
#Fill in {{YOUR-AZURE-Credentidal-ClientId}} Ex:2157868b-4c35-4bak-a23c-ckf05a54a824
CredentialVal01[$IndexAzure]=       #{{YOURS}}

CredentialKey02[$IndexAzure]=ClientSecret
#Fill in {{YOUR-AZURE-Credentidal-ClientSecret}} Ex:2157868b-4c35-4bak-a23c-ckf05a54a824
CredentialVal02[$IndexAzure]=       #{{YOURS}}

CredentialKey03[$IndexAzure]=TenantId
#Fill in {{YOUR-AZURE-Credentidal-TenantId}} Ex:2157868b-4c35-4bak-a23c-ckf05a54a824
CredentialVal03[$IndexAzure]=       #{{YOURS}}

CredentialKey04[$IndexAzure]=SubscriptionId
#Fill in {{YOUR-AZURE-Credentidal-SubscriptionId}} Ex:2157868b-4c35-4bak-a23c-ckf05a54a824
CredentialVal04[$IndexAzure]=       #{{YOURS}}



## Mock driver
CredentialName[$IndexMock]=mock-credential01

CredentialKey01[$IndexMock]=MockName
CredentialVal01[$IndexMock]=mock_name00


## OpenStack
CredentialName[$IndexOpenstack]=openstack-credential01

CredentialKey01[$IndexOpenstack]=IdentityEndpoint
#Fill in {{YOUR-OpenStack-Credentidal-IdentityEndpoint}} Ex:http://129.xxx.xxx.xxx:5000/v3
CredentialVal01[$IndexOpenstack]=       #{{YOURS}}

CredentialKey02[$IndexOpenstack]=Username
#Fill in {{YOUR-OpenStack-Credentidal-Username}} Ex:cbuser
CredentialVal02[$IndexOpenstack]=       #{{YOURS}}

CredentialKey03[$IndexOpenstack]=Password
#Fill in {{YOUR-OpenStack-Credentidal-TenantId}} Ex:cbuserpassword
CredentialVal03[$IndexOpenstack]=       #{{YOURS}}

CredentialKey04[$IndexOpenstack]=DomainName
#Fill in {{YOUR-OpenStack-Credentidal-DomainName}} Ex:default
CredentialVal04[$IndexOpenstack]=       #{{YOURS}}

CredentialKey05[$IndexOpenstack]=ProjectID
#Fill in {{YOUR-OpenStack-Credentidal-ProjectID}} Ex:def	91cc0b1f8caa40198b581608cdb385c1ault
CredentialVal05[$IndexOpenstack]=       #{{YOURS}}


## NCP
CredentialName[$IndexNCP]=ncp-credential01

CredentialKey01[$IndexNCP]=ClientId
#Fill in {{YOUR-NCP-Credentidal-ID}} Ex:SFLEKJEFLJIEIVJOLJSEOIV
CredentialVal01[$IndexNCP]=       #{{YOURS}}

CredentialKey02[$IndexNCP]=ClientSecret
#Fill in {{YOUR-NCP-Credentidal-Secret}} Ex:fsfdlkfjselSDfjlejklsj/LFJSDLKfjleJKLDJ0
CredentialVal02[$IndexNCP]=       #{{YOURS}}

